.InicioContenedor .JuegosMainLayout>h1 {
    text-align: left;
    color: var(--blanco);
    font-size: 2.2rem;
    margin-bottom: 25px;
    font-weight: bold;
}

.header-seccion-juegos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
}

.titulo-principal-pagina {
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
    letter-spacing: -0.5px;
    white-space: nowrap;
    flex-shrink: 0;
}

.JuegosMainLayout {
    display: flex;
    position: relative;
    width: 100%;
    align-items: flex-start;
    gap: 40px;
}


.OverlayPanel {
    width: 100%;
    max-width: 320px;
    min-width: 240px;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    margin-top: -30px;
    margin-bottom: -42px;
    z-index: 10;
}


.juegos-content {
    flex: auto;
    padding-top: 5px;
}

.barra-controles-moderna {
    display: flex;
    gap: 12px;
    margin-bottom: 0px;
    align-items: center;
}

.pill-btn,
.icon-btn {
    background-color: var(--azul-claro);
    color: var(--blanco);
    border: 2px solid transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.pill-btn.active,
.icon-btn.active {
    border-color: var(--teal) !important;
}

.pill-btn {
    padding: 10px 20px;
    font-size: 15px;
}

.pill-btn:hover {
    background-color: #0e45a3;
}

.custom-dropdown {
    position: relative;
    width: 160px;
}

.dropdown-trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: var(--azul-claro);
    border-radius: 10px;
    list-style: none;
    padding: 10px 0;
    z-index: 100;
    box-shadow: 0 8px 20px var(--azul-black);
    overflow: hidden;
}

.dropdown-menu li {
    padding: 12px 20px;
    color: var(--blanco);
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}

.dropdown-menu li:hover {
    background-color: var(--azul-claro);
    color: var(--blanco);
}

.order-direction-group {
    display: flex;
    gap: 10px;
}

.icon-btn {
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 0;
    padding-bottom: 2px;
}

.icon-btn.active {
    border-color: var(--teal);
    box-shadow: 0 0 10px rgba(0, 212, 255, 0.4);
}