.wishlist-icon-container {
  position: relative;
  cursor: pointer;
  width: clamp(20px, 10%, 30px);
  
  &:hover .wishlist-icon {
    transform: scale(1.2);
  }
}

.wishlist-icon {
  pointer-events: none;
  fill: transparent; /* color dentro */
  stroke: var(--gris-claro); /* color del borde */
  stroke-width: 2.5;
  transition:
    transform 0.2s,
    fill 0.2s,
    stroke 0.2s,
    opacity 0.3s;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 3px 1.5px rgba(0, 0, 0, 0.85));

  &.active {
    fill: var(--rojo);
    stroke: var(--blanco);
  }
}
