.game-card {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease,
    border-color 0.35s ease;

  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    
    .discount-container {
      opacity: 0;
    }
  }
  &:hover .wishlist-icon {
    opacity: 1;
  }
}

.game-card-img-wrapper {
  position: relative;
  height: 75%;

  .card-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.45s ease;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.55);
  }
}

.card-info {
  column-gap: 8px;
  position: relative;
  padding: 16px 14px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 16px 16px;
  z-index: 5;

  .info-left {
    h3 {
      margin: 3px 0;
      font-size: 1.15rem;
      font-weight: 700;
      color: var(--gris-claro);
      line-height: 1.2;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      overflow: hidden;
    }

    .offer-tier {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .offer-tier-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }

    .offer-tier-text {
      font-size: 0.85rem;
      color: var(--gris-oscuro);
    }
  }

  .info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .price-label {
      font-size: 0.85rem;
      color: var(--gris-oscuro);
    }

    .price-value {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

.wishlist-icon-container {
  position: absolute !important;
  top: 10px;
  right: 10px;
  z-index: 10;

  .wishlist-icon {
    opacity: 0;
  }

  .wishlist-icon.active {
    opacity: 1;
  }
}

.discount-container {
  position: absolute;
  display: flex;
  bottom: -8px;
  left: -6px;
  height: 25%;

  width: max-content;
  max-width: max-content;
  max-height: 50px;

  padding-right: 20px;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.3s;

  .discount-bg {
    position: absolute;
    height: 100%;
    width: 60%;
    background: var(--teal);
  }

  .discount-bg-skew {
    position: absolute;
    right: 10px;
    width: 50%;
    height: 100%;
    background: var(--teal);

    transform: skewX(20deg);
    border-radius: 6px;
  }

  .discount-text {
    position: relative;
    height: 100%;
    padding-left: 9px;
    align-content: center;

    font-family: "Arial Black", Arial, sans-serif;
    font-size: clamp(0.8rem, 1vw, 1.4rem);
    font-weight: bolder;
    color: white;
  }
}
