.Info {
  max-width: 900px;
  margin: 0 auto;
}

.titulo {
  text-align: center;
  color: var(--gris-claro);
}

.bloque {
  margin-bottom: 50px;
  text-align: left;
  h2 {
    margin-bottom: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--azul);
    color: var(--gris-claro);
  }
}

.detalles {
  padding-top: 10px;
}

.etiqueta {
  font-size: 0.9rem;
  color: var(--gris-oscuro);
}

.datos {
  font-weight: bold;
  margin: 6px 0;
}

.contenedor-checkbox {
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  input {
    width: 18px;
    height: 18px;
    accent-color: var(--teal);
    margin: 0;
  }
  &:hover .opcion {
    color: var(--gris-claro);
  }
}
.opcion {
  font-size: 1.2rem;
  color: var(--gris);
}

.roja h2 {
  color: var(--rojo);
  border-bottom: 1px solid rgb(143, 44, 44);
}

.descripcion {
  color: var(--gris);
  margin-bottom: 25px;
}

.boton-eliminar {
  background-color: transparent;
  color: var(--rojo);
  border: 1px solid var(--rojo);
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.boton-eliminar:hover {
  background-color: var(--rojo);
  color: var(--gris-claro);
}
