.github/
.metadata/
README.md
LICENCE
# BACKEND
# Gradle
!**/src/main/**/build/
!**/src/test/**/build/
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Logs
logs/
*.log

# Spring Boot local configs
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml

# FRONTEND
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build output
dist/
dist-ssr/
build/
*.local

# IDEs
# VS Code
.vscode/
!.vscode/extensions.json

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.project
.classpath
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/
bin/

# SISTEMA OPERATIVO
# macOS
.DS_Store

# Windows
Thumbs.db

# OTROS ARCHIVOS INNECESARIOS
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tmp
