#root {
    box-sizing: border-box;
    min-height: 100vh;
}

body{
    /*esta en scroll luego ver pq*/
    overflow-y: auto;
}

.fondo{
    height: 100%;
}

.Toastify__toast-container {
  z-index: 99999 !important;
}