@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300;400;500;700&display=swap');

:root {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--negro);
  color: var(--gris);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --turquesa: #00d0d1;

  --teal: #00d0d1;
  --azul-black:#03122e;
  --azul-medio:#03254e;
  --azul: #043577;
  --azul-claro: #114e9e;
  --gris-oscuro: #9b9b9b;
  --gris: #c4c4c4;
  --gris-claro: #e9e3e6;
  --blanco: #f7f9fc;
  --negro: #121212;

  --accent: #1e90ff;
  --accent-soft: #87cefa;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1,
h2,
h3{
  font-family: "Bebas Neue", sans-serif;;
}

h1 {
  font-size: 3.2rem;
  color: var(--turquesa);
}

h2 {
  font-size: 2rem;
  color: var(--accent);
}

h3 {
  font-size: 1.65rem;
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--gris-claro);
}

.InicioContenedor {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 20px;
  padding-bottom: 42px;
  min-height: 672px; /*esto amcomodar para responsive*/
}

.toast {
  background: #141414; /* mismo gris oscuro de tu layout */
  color: var(--gris-claro);
  border-radius: 12px;
  padding: 10px 16px;
  font-size: 0.9rem;
  min-width: 220px;
  max-width: 320px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.55);
  border: 1px solid rgba(30, 144, 255, 0.2); /* acento azul suave */
}

.toast-body {
  margin: 0;
}

.Toastify__toast {
  animation:
    slideIn 0.25s ease,
    fadeOut 0.25s ease 3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

/* colores según tipo */
.Toastify__toast--success {
  border-left: 4px solid var(--turquesa);
} /* azul acento */
.Toastify__toast--error {
  border-left: 4px solid #e63946;
} /* rojo */
.Toastify__toast--info {
  border-left: 4px solid var(--gris);
} /* verde */
.Toastify__toast--warning {
  border-left: 4px solid var(--accent);
} /* amarillo */

.Toastify__toast--success svg {
  fill: var(--turquesa); /* azul acento */
}

.Toastify__toast--error svg {
  fill: #e63946; /* rojo */
}

.Toastify__toast--info svg {
  fill: var(--gris); /* verde */
}

.Toastify__toast--warning svg {
  fill: var(--accent); /* amarillo */
}
