.quitarPadding {
  padding-top: 0;
}

.Bienvenida {
  position: relative;
  width: calc(100vw - 7.5px);
  left: 50%;
  margin-left: -50vw;
  height: 55vh;
  min-height: 340px;
  overflow: hidden;
  clip-path: polygon(0 0,100% 0, 100% 100%, 0 82%);
}
/* Fondo con parallax */
.Bienvenida-bg {
  position: absolute;
  inset: 0;
  background-image: url("/Imagenes/Banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Contenido centrado */
.Bienvenida-contenido {
  position: relative;
  z-index: 2;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.75)
  );
}

.Bienvenida-contenido h1 {
  margin: 0;
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--gris-claro);
  text-shadow: 0 0 8px var(--azul-black);
}

.Bienvenida-contenido p {
  margin-top: 0px;
  font-size: 1.3rem;
  color: var(--gris);
  text-shadow: 0 0 6px var(--azul-black);
}

.descripcion-seccion {
  margin-bottom: 2rem;
  color: var(--gris); /* Gris medio */
  font-weight: 300;
  line-height: 1.6;
  max-width: 800px;
  margin: 0;
  padding: 0 15px;
}

.seccion .grid {
  justify-content: space-evenly;
}

.titulo-seccion-link {
  display: inline-flex;
  align-items: center;
  color: var(--azul-claro);
  transition: color 0.2s ease;

  &:hover {
    color: var(--teal);
  }

  &:hover .titulo-icono {
    transform: translateX(4px); /* animación suave */
  }

  svg{
    width: 36px;
    height: 36px;
  }
}

.titulo-seccion {
  padding-top: 4px;
  margin: 0;
  padding-left: 15px;
}

.titulo-icono {
  transition:
    transform 0.25s ease,
    color 0.25s ease;
}
