.hdr {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--azul-black);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
  width: 100%;
}

.hdr__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  gap: 16px;
}

.logo-container {
  width: 135px;
  height: 32px;
   flex-shrink: 0;
}

.hdr__logo-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hdr__links {
  display: flex;
}

.hdr__link {
  color: var(--gris);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.15s;
  &:hover {
    color: var(--teal);
  }
}

.hdr__right {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  max-width: 320px;
  form{
    width: 100%;
  }
}

.hdr__search {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--gris);
  border: 1px solid var(--azul-medio);
  border-radius: 6px;
  transition: 0.2s;

  flex: 1;
  width: 100%;    
}

.hdr__search:focus-within {
    border-color: var(--teal);
    box-shadow: 0 0 8px rgba(0, 208, 209, 0.4);
}

.hdr__search-input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.8rem;
  padding: 6px 11px;
  width: 100%;
  &::placeholder {
    color: var(--azul);
    opacity: 0.5;
  }
}

.hdr__search-btn {
  background-color: transparent;
  border: none;
  color: color-mix(in srgb, var(--azul) 50%, transparent);
  padding: 6px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.15s;
}

.hdr__search-btn:hover {
  color: var(--azul);
}

.hdr__avatar-wrap {
  position: relative;
}

.hdr__avatar {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.14);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gris);
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.15s;
}

.hdr__avatar--inactive {
  cursor: default;
  opacity: 0.5;
}

.hdr__avatar--active,
.hdr__avatar:not(.hdr__avatar--inactive):hover {
  background: var(--azul-claro);
  border-color: var(--azul-claro);
  color: var(--gris-claro);
}

.hdr__avatar-dropdown {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  left: auto;

  width: 150px;
  background: var(--negro);
  border: 1px solid var(--azul);
  border-radius: 10px;

  z-index: 100;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.hdr__avatar-dropdown-btn,
.hdr__avatar-dropdown-logout {
  padding: 12px 16px;
  color: var(--gris);
  cursor: pointer;
  font-size: 14px;

  background: transparent;
  border: none;
  text-align: left;
  width: 100%;

  transition: 0.2s ease;
}

.hdr__avatar-dropdown-btn:hover,
.hdr__avatar-dropdown-logout:hover {
  background: var(--azul-medio);
  color: var(--gris-claro);
}

.hdr__avatar-dropdown-btn {
  display: block;
  text-decoration: none;
  color: inherit;
}

.hdr__avatar-dropdown-logout:hover {
  background: rgba(245, 63, 63, 0.1);
  color: #ff9090;
}

@media (max-width: 900px) {
  .hdr__right{
    max-width: max-content;
  }
  .hdr__links {
    display: none;
  }
}

@media (max-width: 660px) {

}

.hdr__search-dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  right: 0;

  background: var(--negro);
  border: 1px solid var(--azul);
  border-radius: 10px;

  overflow: hidden;
  z-index: 999;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* ITEM */
.hdr__search-option {
  display: grid;
  grid-template-columns: 40px 1fr auto;
  align-items: center;

  gap: 10px;
  padding: 10px 12px;

  cursor: pointer;
  transition: 0.15s;
}

.hdr__search-option:hover,.hdr__search-option-total:hover {
  background: var(--azul-medio);
}

.hdr__search-option-total{
  width: 100%;
  text-align: center;
  gap: 10px;
  padding: 12px 0;

  cursor: pointer;
  transition: 0.15s;
}

/* IMG */
.hdr__search-img {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  object-fit: cover;
}

/* TEXT */
.hdr__search-title {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--gris-claro);
}

/* RIGHT TOTAL */
.hdr__search-total {
  font-size: 0.75rem;
  color: var(--teal);
  white-space: nowrap;
}
